body {
  /* font-family: 'Times New Roman', Times, serif; */
  background-image: url('components/background.png');
  position: fixed;
  background-repeat: no-repeat;
  width: 540px;
  height: 384px;
}

.title {
  margin-top: 97px;
  color: #FFF;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  /* line-height: normal; */
}

.description {
  margin-top: -30px;
  color: #FFF;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  /* line-height: normal; */
}

.startbutton {
  background: transparent;
  position: absolute;
  top: 253px;
  left: 192px;
  width: 153px;
  height: 52.5px;
  flex-shrink: 0;
  background-image: url('components/startbutton.png');
  background-repeat: no-repeat;
  border: none;
}

/* Minimize Button */
.minimize-btn {
  position: absolute;
  top: 0;
  right: 45px; /* Shifted left from the close button */
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 28px;
  cursor: pointer;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 28px;
  cursor: pointer;
}
